.add-edit-form-div{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* background-color: rgb(255, 237, 237); */
    padding: 20px;
}

.add-edit-form-title{
    font-size: 24px;
}

.add-edit-form{
    display: flex;
    flex-direction: column;
    gap: 4px;
    padding: 14px;
}

.top-div-page{
    padding: 20px;
}
.small-menu-div{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}


.add-edit-form-btn-div{
    display: flex;
    gap: 10px;
}

/* --- General button --- */
button {
    cursor: pointer;
}
.btn{
    padding: 5px 10px;
    background-color: var(--color4);
    color: var(--color2);
    border: none;
    cursor: pointer;
    border-radius: 4px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 4px;
}
.btn:hover{
    background-color: var(--color3);
    color: var(--color2);
}
/* ---------------------- */

/* --- Icons btn --- */
.icon-btn{
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    padding: 4px;
    height: 20px;
    width: 20px;
    border-radius: 50px;
    border: none;
    background-color: transparent;
    border: 1px solid var(--color5);
    color: var(--color5);
}


.btn-edit:hover{
    border-color: rgb(255, 115, 0);
    color: rgb(255, 115, 0);
}

.btn-delete:hover{
    border-color: var(--color4);
    color: var(--color4);
}
/* -------------- */